---
import Expo from "./icons/Expo.astro";
import React from "./icons/React.astro";
import FireBase from "./icons/FireBase.astro";
import Javascript from "./icons/Javascript.astro";

const TAGS = {
    EXPO: {
        name: "Expo",
        class: "bg-white border-2 border-[#000030] text-black",
        icon: Expo,
    },
    REACT: {
        name: "React",
        class: "bg-black text-white ",
        icon: React,
    },
    REACTNATIVE: {
        name: "React Native",
        class: "bg-black text-white border-[#61dafb] border-2",
        icon: React,
    },
    NODE: {
        name: "NodeJS",
        class: "bg-black text-white",
        icon: "",
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-black text-white border-[#f0db4f] border-2 ",
        icon: Javascript,
    },
    FIREBASE: {
        name: "FireBase",
        class: "bg-black text-white border-[#f6820c] border-2 ",
        icon: FireBase,
    },
};
const PROJECTS = [
    {
        title: "Truck System",
        description: "Tool to track trucks and send invoices",
        link: "#",
        github: "",
        image: "/trucksystem.webp",
        tags: [TAGS.EXPO, TAGS.REACTNATIVE, TAGS.JAVASCRIPT],
    },
    {
        title: "EnglishChat",
        description: "Student chat to talk to teachers ",
        link: "#",
        github: "",
        image: "/englishchat.webp",
        tags: [TAGS.EXPO, TAGS.FIREBASE, TAGS.REACTNATIVE, TAGS.JAVASCRIPT],
    },
];
---

{
    PROJECTS.map(({ title, description, tags, image }) => (
        <article>
            <h3 class="text-yellow-100 font-bold">{title}</h3>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                {description}
            </p>
            <ul class="flex gap-x-2 my-6 flex-row  flex-wrap items-center">
                {tags.map((tag) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs ${tag.class} my-2 px-2 py-1`}
                        >
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img src={image} alt={`Imagen del proyecto ${title}`} />
        </article>
    ))
}
